<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.springcloud.dao.PaymentDao">
    <!--int create(Payment payment);-->
    <insert id="create" parameterType="com.huawei.springcloud.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) VALUES (#{serial})
    </insert>

    <resultMap id="baseMap" type="com.huawei.springcloud.entities.Payment">
        <id column="id" property="id"/>
        <result column="serial" property="serial"/>
    </resultMap>

    <!--Payment getPaymentById(Long id);-->
    <select id="getPaymentById" resultMap="baseMap">
        SELECT * from payment where id = #{id}
    </select>

</mapper>